<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Tools" alt=""></td>
        <td><a href="{{site.baseurl}}/">LLM Home</a></td>
        <td><a href="{{site.baseurl}}/google">Google LLM</a></td>
        <td><a href="{{site.baseurl}}/openai">OpenAI LLM</a></td>
        <td><a href="{{site.baseurl}}/snake">Snake</a></td>
        <td><a href="{{site.baseurl}}/calc">Calc</a></td>
        <td><a href="{{site.baseurl}}/ideas">Ideas</a></td>
       
    </tr>
</table>